<%= provide(:title, "読んだ漫画") %>
<div class="center jumbotron">
<h1>登録漫画一覧</h1>
<h2>
  <ul>
<% @comics.each do |c| %>
        <li>
          <%= c.title %>(作者:<%= c.author %>)
          <%= link_to "編集",edit_comic_path(c) %>
           | <%= link_to "削除", c, method: :delete, data: {confirm: "削除してもいいですか?"} %>
        </li>
    <% end %>
  </ul>
</h2>
</div>
