<%= form_with(model: userread, local: true) do |form| %>
  <% if userread.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(userread.errors.count, "error") %> prohibited this userread from being saved:</h2>

      <ul>
      <% userread.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :comic_id, "漫画"%>
    <%= form.select :comic_id,@comics.map{|c| [c.title,c.id]} %>
  </div>

  <div class="field">
    <%= form.label :user_id, "ユーザ" %>
    <%= form.select :user_id,@users.map{|u| [u.name,u.id]} %>
  </div>

  <div class="field">
    <%= form.label :vol, "巻数" %>
    <%= form.text_field :vol %>
  </div>

  <div class="actions">
    <%= form.submit "本棚にしまう" %>
  </div>
<% end %>
