<% provide(:title, "本棚") %>
<p id="notice"><%= notice %></p>

<table>
  <thead>
    <tr>
      <th>Comic</th>
      <th>User</th>
      <th>Vol</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @userreads.each do |userread| %>
      <tr>
        <td><%= @comics[userread.comic_id-1].title %></td>
        <td><%= @users[userread.user_id-1].name %></td>
        <td><%= userread.vol %></td>
        <td><%= link_to '本の詳細をみる', userread %></td>
        <td><%= link_to '編集', edit_userread_path(userread) %></td>
        <td><%= link_to '削除', userread, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to '本棚へ新しい本を登録する', new_userread_path %>
