<p id="notice"><%= notice %></p>

<p>
  <strong>Comic:</strong>
  <%= @userread.comic_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @userread.user_id %>
</p>

<p>
  <strong>Vol:</strong>
  <%= @userread.vol %>
</p>

<%= link_to 'Edit', edit_userread_path(@userread) %> |
<%= link_to 'Back', userreads_path %>
