<p id="notice"><%= notice %></p>

<p>
  <strong>Comic:</strong>
  <%= @comics[@userread.comic_id-1].title %>
</p>

<p>
  <strong>User:</strong>
  <%= @users[@userread.user_id-1].name %>
</p>

<p>
  <strong>第<%= @userread.vol %>巻</strong>
</p>

<%= link_to '編集', edit_userread_path(@userread) %> |
<%= link_to '本棚へ', userreads_path %>
